* {
    margin: 0px;
    padding: 0px;
}

/* common google fonts shered to all parts */
body {
    font-family: 'Poppins', sans-serif;
}

/* header section css part is started */

.header-section {
    background-color: antiquewhite;
    height: 500px;

}

.header-assets {
    display: flex;
}

.header-image {
    width: 400px;
    height: 470px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 30px;

}

.header-text-part {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.header-image-part {
    width: 50%;
    display: flex;
    justify-content: center;
}

.header-heading {
    font-size: 40px;
    margin-bottom: 10px;

}

.header-button {
    background-color: mediumvioletred;
    border: 0px;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    font-weight: 700;
}

/* header section css part is ended */
/* feature section css part is started */
.feature-section {
    margin-bottom: 40px;
}

.feature-section-text {
    width: 50%;
    display: flex;
    margin: 0 auto;
}

.main-section {
    margin-top: 90px;
}

.feature-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

.feature-images {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
}

.feature-image {
    height: 210px;
    width: 220px;
    padding-left: 35px;
    padding-right: 35px;
    /* padding-bottom: 30px; */
    padding-top: 100px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;


}

#first-image {
    background-color: rgb(217, 209, 217);
}

#second-image {
    background-color: rgb(216, 225, 230);
}

#third-image {
    background-color: rgb(241, 227, 227);
}

.image-name {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}

/* feature section css part is ended */
/* optional section css part is started */
.optional-section {
    height: 200px;
    width: 73%;
    margin: 0px auto;
    background-color: rgb(235, 228, 228);
    border-radius: 5px;
}

.optional-image-part {
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 0px auto;
}

.optional-div {
    display: block;
    text-align: center;
}

/* optional section css part is ended */
/* <!-- hot deal section css part is started --> */
.hotdeal-section {
    background-color: antiquewhite;
    height: 400px;
    margin-top: 60px;
}

.hotdeal-all-part {
    display: flex;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.hotdeal-image {
    height: 300px;
    width: 200px;
}

.hotdeal-text-part {
    width: 60%;
    text-align: center;
}

.hotdeal-image-part {
    width: 40%;
}

.hotdeal-paragraph {
    width: 50%;
    margin: 0px auto;

}

.hotdeal-sub-heading {
    color: mediumvioletred;
}

.hotdeal-heading {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 25px;
}

.hotdeal-button {
    background-color: mediumvioletred;
    border: 0px;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    margin-top: 25px;
    font-weight: 700;
}

/* <!-- hot deal section css part is ended --> */